.container{
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}
.mainContainer__right{
    flex: 0.5;
}
.mainContainer__left{
    flex: 0.5;
}
.mainContainer__left > p:nth-child(1) {
    font-size: 2.9rem;
    background: linear-gradient(90deg, #000000, #9d9d9d, #000000);
    background-size: 200% auto; /* Required for smooth animation */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: animationHomePageBreathEffect 3s linear infinite;
  }
  
  @keyframes animationHomePageBreathEffect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.mainContainer__left > p:nth-child(2) {
    color: #4d4d4d;
    font-size: 1.7rem;
}
.mainContainer__left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    transition: all 0.2s;
    margin-top: 0.8rem;    
    font-size: 1.4rem;
    background:rgb(197, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    border-radius: 20px;
}
